html, body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', sans-serif;
}

h1 {
  font-size: 30px;
  display: inline;
}

.container {
  margin: 0 auto;
}

/*Banner Section*/
.banner {
  background-image: url("./Pictures/stars.jpg");
  color: #fff;
  padding: 20px;
  text-align: center;
  transition-property: background-color;
  transition-duration: 750ms;
 
}

.banner:hover {
  background: radial-gradient(circle, rgba(167, 165, 202, 0.903) 8%, rgba(0, 212, 255, 1) 51%, rgb(0, 0, 0) 90%);
}


.links{
  font-size: 25px;
}

.Trophies{
  background-color: white;
  text-align: center;
  border-width: 5px;
  border-style: solid;
}

#footer {
  text-align: center;
  background-image: url("./Pictures/stars.jpg");
  color: white;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.banner5{
padding-left: 15%;
background-image: url("./Pictures/ab.jpg");
margin-top: 0px;
}

.banner5 h1{
  font-size: 60px;
}

.quicklinks{
  display: flex;
  flex-direction: column;
  text-align: column;
  align-items: column;
  padding-left: 5%;
  border: 5px;
  border-style:solid;
  padding-right: 5%;
  margin-left: 5%;
}

.content{
  display: flex;
  flex-direction: column;
  text-align: column;
  align-items: column;
  padding-left: 5%;
  border: 5px;
  border-style:solid;
  padding-right: 5%;
  margin-right: 5%;
}

.stuff{
  display: flex;
  flex-direction: row;
  text-align: row;
  align-items: row;
  margin: 0px;
}