body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #152838; */
    background: radial-gradient(circle, rgba(2,0,36,0.9026961126247374) 8%, rgba(0,212,255,1) 51%, rgba(23,23,96,1) 90%);
    color: black;
    margin-left: 10%;
    margin-right: 10%;

}

.collapsible {
    background-color: rgb(243, 212, 36);
    color: black;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font: bold;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
}

.active,
.collapsible:hover {
    background-color: rgb(255, 255, 255);
}

.content {
    padding: 10px 40px;
    display: none;
    overflow: hidden;
    background-color: #fff8e1;
    margin: 20px 200px;
}

.margins {
    margin: 0px 0px 0px 0px;
    width: 88%;
    height: auto;

}

#border {
    border-width: 20px;
    border-style: double;

}

h1 {
    color: white;
}

p {
    font-size: 30px;
}

h3 {
    font-size: 40px;
}

a {
    font-size: 30px;
    padding: 10px;
}

.logosize {
    width: 350px;
    height: 350px;
    margin-top: 20px;
}

.Toolbar {
    width: 100%;
    height: 45px;

    margin: 0px;
    padding-left: 40px;
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: row;

}

.Tool {
    color: white;
    font-size: 20px;
    background-color: black;
    position: fixed;
    padding: 20px 60px 20px 60px;
    margin-top: 0px;
}

.size {
    height: 20px;
    width: 20px;
}

#myCanvas {
    margin-top: 20px;
    margin-bottom: 20px;
}

#Navigation {
    color: white;
}

.banner {
    background-color: white;
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
    
}