html, body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', sans-serif;
}

img {
  margin: 10px auto;
  height: auto;
  width: auto;
  
}


ul {
  text-align: right;
  display: inline;
  margin-left: 800px;
}

h1 {
  font-size: 30px;
  display: inline;
}

h3{
  margin: 0px;
}
/*Sizing*/

.margin {
  margin-left: 50px;
}
.width{
  max-width: 400px;
}

.container {
  margin: 0 auto;
}

.spacer {
  max-width: 1200px;
  margin: auto;
}

#back{
  background-color: lightgray;
}

.main {
    background-color: #ffc200;
}

/*Header Section*/
.textalign{
text-align: justify;
font-size: 30px;
}

.header {
  padding: 30px 0px 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.header li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
}


.header li a {
  color: #333;
  margin:0;
  border:0px;
}

/*Jumbotron Section*/

.jumbotron {
  background-color: rgb(255, 255, 255);
  max-width: 1200px;
  margin-left: 50px;
}

.jumbotron h2 {
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.jumbotron h2 span {
  color:#ffc200;
    transition-property: background-color;
  transition-duration: 2s;
}



/*Banner Section*/
.banner {
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 20px;
  text-align: center;
  transition-property: background-color;
  transition-duration: 750ms;
}

.banner:hover {
  background-color: rgb(109, 0, 0);
}

/*Expertise Section*/
.cards {
  background-color: #ffc200;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
	display: inline-flex;
	flex-direction: column;
  justify-content: space-between;
}

#expertise {
  padding: 20px;
  background-color: #ffc200;
  margin: 0;
  text-align: center;
}

/*Footer Section*/
.footer {
  padding: 60px 0px;
  background-color: #000;
  color: #fff;
}

.footer h3 {
  font-size: 20px;
  margin-left: 20px;
}

.footer p {
  font-size:12px;
  margin-bottom: 0;
  margin-left: 20px;
}

#back{
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 20px 20px;
  color:black;
}

